html {
    font-size: 24px;
}

body {
    
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #000000;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    color: #000000;
}

/* Classes em CSS */
.container {
    margin: auto;
    width: 80%;
    height: 800px;
    background-color: #000000;
}

.banner {
    height: 150px;
    background-color: #000000;
}

.banner > img {
    width: 100%;
    height: 100%;
}

.menu {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: #06c506;
    background-color: black;
    letter-spacing: 0.1rem;
    /* word-spacing: 1rem; */

}
.menu ul, li {
     list-style-type: none;
     display: inline;
     margin: 0;
}
.menu a {
    text-decoration: none;
    /* TOP RIGHT BOTTOM LEFT */
    padding: 10px 25px;
}

.menu a:hover {
    background-color: #03e203; 
}

.corpo {
    color: #03e203;
    min-height: 350px;
    padding: 35px 75px;
    text-align: justify;
    border: 1px solid #03e203;

}

.rodape {
    color: #03e203;
    height: auto;
    text-align: center;
    font-size: 0.8rem;
    padding: 25px 0 50px 0;
    border: 1px solid #03e203;
    
}


.rodape a {
    color: black;
    text-decoration: none;

}

.rodape a:hover {
    color: #d9ff00;
    transition: 0.5s;
}

.links {
    width: 25%;
    display: inline;
    vertical-align: top;

}

.conteudo {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    text-align: justify;

}

.redes-sociais {
    width: 25%;
}

.redes-sociais img {
    width: 24%;
    vertical-align: initial;
}


a:link {
    color: #06c506;
}

a:visited {
    color: #06c506;
}

a:active {
    color: #d9ff00;
}

a:hover {
    color: green;
}